.form-container{
    background-color: darkgreen;
    font-size: 14px;
}

.header-one{
    color: #D0B49F;
    font-size: 36px;
    text-align: center;
    background-color: red;
    height: 15vh;
    margin-bottom: 0;
}

.flex-container{
    display: flex;
    font-size: 20px;
    background-color: yellow;
}

.akan-names-description{
    width: 500px;
    padding: 20px;
}

.gender-names{
    display: flex;
    width: 500px;
    padding: 25px;
    margin-left: 100px;
}

.male-names,.female-names{
    list-style-type: none;
}
form{
    padding: 50px;
    color: #fff;
}