.form-container{
    background-color: #006B3D;
    font-size: 14px;
}

.header-one{
    color: #D0B49F;
    font-size: 36px;
    text-align: center;
    background-color: #CF0921;
    height: 15vh;
    margin-bottom: 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    background-color: #FCD20F;
}

.akan-names-description{
    padding: 20px;
}

.gender-names{
    display: flex;
}

.male-names,.female-names{
    list-style-type: none;
}
form{
    padding: 50px;
    color: #fff;
}